<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cadastrar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="cnt_principal fundo">
        <h2>Faça o seu Cadastro</h2>
        <form action="index.html" method="post" class="forms">
            
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email">
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">

            <label for="confSenha">Confirmar Senha:</label>
            <input type="password" id="confSenha" name="confSenha" placeholder="Confirme sua senha">

            <div class="botao">
                <button type="submit">Entrar</button>
            </div>
            
            <p>Já possui conta? <a href="{{ url_for('login') }}">Faça Login</a></p>
        </form>
    </div>
</body>
</html>