<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cadastrar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Cadastro - Gerenciador</title>
</head>
<body>
    <form class="forms">
        <h2>Faça o seu Cadastro</h2>
        
        <div class="grid-container">
            <div class="campo-grupo">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" placeholder="Digite seu nome">
            </div>

            <div class="campo-grupo">
                <label for="rg">RG:</label>
                <input type="text" id="rg" placeholder="00.000.000-0">
            </div>

            <div class="campo-grupo">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" placeholder="000.000.000-00">
            </div>

            <div class="campo-grupo">
                <label for="tel">Telefone:</label>
                <input type="text" id="tel" placeholder="(00) 00000-0000">
            </div>

            <div class="campo-grupo">
                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="seu@email.com">
            </div>

            <div class="campo-grupo">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required 
                    placeholder="Senh@Forte820">
            </div>

            <div class="campo-grupo">
                <label>Status:</label>
                <select id="status">
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>
            </div>

            <div class="campo-grupo">
                <label>Cargo:</label>
                <select id="cargo">
                    <option value="Colaborador">Colaborador</option>
                    <option value="Gestor">Gestor</option>
                </select>
            </div>
            
            <button type="button" class="botao-cadastrar" onclick="efetuarCadastro()">CADASTRAR USUÁRIO</button>
            
            <p class="links-footer">Já possui conta? <a href="{{ url_for('login') }}">Faça Login</a></p>
        </div>
    </form>

    <script src="{{ url_for('static', filename='JavaScript/cadastro-login.js') }}"></script>
</body>
</html>