<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <form id="loginForms" action="index.html" method="post" class="forms">
        <h2>Faça o seu Login</h2>

        <label for="email">E-mail:</label>
        <input type="email" id="email" placeholder="Digite seu e-mail">
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" placeholder="Digite sua senha">

        <div class="botao">
            <button type="button" onclick="efetuarLogin()">Entrar</button>
        </div>

        <script src="{{ url_for('static', filename='JavaScript/cadastro-login.js') }}"></script>
        
        <p>Não tem conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
        <p><a href="#">Esqueceu a senha?</a></p>
    </form>
</body>
</html>