.cnt_opcoes_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 0;
}

.cartao_menu {
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
}

.cartao_menu:hover {
    background: rgba(52, 152, 219, 0.2);
    transform: translateY(-8px);
    border-color: #3498db;
}

.cartao_menu i { 
    margin-bottom: 15px; 
    display: block; 
}